 
.plugPlus{
	position:absolute;
	color:white;
	top:290px;
	left:50%;
	margin-left:-600px;
	z-index:99;/*Just below popups*/
	width: 1200px;
	max-width: 1200px;
}
.plugPlus *{
	background-color:black;
}
.plugPlusBar{
	width: 1200px;
	max-height:25px;
	padding-left:0;
	border-radius:5px;
	border:2px white solid;
}
.plugPlusBar *:not(span){
	display:inline;
	background:#999;
	border:1px solid #999;
	border-radius:4px;
	margin: 2px;
	margin-right: 5px;
}
.plugPlusBar #title{
	font-family: Impact, Charcoal, sans-serif;
	margin-left:-2px;
	color: #F60;
	font-weight: 300;
	font-size: 18px;
	text-shadow: black 1px 1px;
	background:white;
	border: 2px white solid;
	border-radius: 6px;
}
.plugPlus .plugButton{
	display: inline-block;
}
.plugPlus .plugButton:hover{
	background-color:#CCCCCC;
	cursor:pointer;
}
.plugPlus .plugButton#on{
	background-color:green;
	border:1px solid green;
}
.plugPlus .plugButton#on:hover{
	background-color: #18D004;
}
.plugPlus .plugButton#off{
	background-color:red;
	border:1px solid red;
}
.plugPlus .plugButton#off:hover{
	background-color: #FF8080;
}
.plugPlus .plugInfo{
	background-color:blue;
}
.plugPlus .plugInfo *{
	background-color:transparent;
	border:none;
}
.plugPlusDropDowns{
	background-color:transparent;
	width:90%;
	max-width:90%;
	position:relative;
	left:5%;
}
.plugPlusDropDown{
	background-color: rgba(0,0,0,.7);
	display:none;
	margin:auto;
	border:1px white solid;
	border-top:none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding:4px;
	overflow: hidden;
}
.plugPlusDropDown .plugPlusContent{
	background-color: transparent;
	
	height:100%;
	font-size:12px;
	overflow-x:auto;
}
.plugPlusDropDown .plugPlusContent *{
	background-color: transparent;
}
#plugPlusListArea *{
	background-color:#666666;
	display:inline-block;
	font-size:14px;
	margin:5px;
}
#plugPlusListArea #voteup{
	background-color: green;
}
#plugPlusListArea #votedown{
	background-color: red;
}
#plugPlusSettingsForm select,#plugPlusSettingsForm input:not(#PPNotifications){
	width:100%;
	background-color:black !important;
	color:white;
}
#plugPlusSettingsForm table{
	width:100%;
}
#plugPlusSettingsForm table td{
	text-align:right;
}
#plugPlusSettingsForm table tr td:nth-child(3){
	text-align:left;
}
#PPSaved{
	color:green;
	position:absolute;
	left:50%;
	display:none;
}
