#plugPlusContent {
	position: absolute;
	color: white;
	z-index: 99; /*Just below popups*/
	text-shadow: black 1px 1px 2px;
	top: 0;
	left: 0;
	width: 125px;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	font-size: small;
}

#plugPlusContent.right {
	left: auto;
	right: 0;
}

#plugPlusContent.autoHide {
	height: 25px;
	transition: height .5s;
	overflow: hidden;
	-webkit-transition: height .5s;
}

#plugPlus footer {
	transition: opacity .25s;
	-webkit-transition: opacity .25s;
}

#plugPlusContent.autoHide footer {
	opacity: 0;
}

#plugPlusContent.autoHide:hover {
	height: 100%;
}

#plugPlusContent.autoHide:hover footer {
	opacity: 1;
}

#plugPlus div {
	/* Disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

#plugPlusTitle {
	width: 100%;
	text-align: center;
}

.plugTitle {
	font-size: large;
}

.plugPlusSection {
	border-top: thin white solid;
	margin-top: 5px;
	padding: 3%;
}

#plugPlusButtons .plugButton {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 95%;
	max-width: 120px;
	background-color: #B2B2B2;
	border-radius: 5px;
	margin: auto;
	margin-top: 3px;
	transition: all .25s;
	-webkit-transition: all .25s;
	background-color: #B2B2B2;
	text-align: center;
	cursor: pointer;
}

#plugPlusButtons .plugButton:hover {
	background-color: #C1C1C1;
}

#plugPlusButtons .plugButton.active {
	background-color: #66FF33;
	color: black;
}

#plugPlusButtons .plugButton.active:hover {
	background-color: #A3FF85;
}

#plugPlusButtons .plugButton.inactive {
	background-color: #C00;
	color: black;
}

#plugPlusButtons .plugButton.inactive:hover {
	background-color: #DB4D4D;
}

#plugPlusButtons .plugButton.disabled {
	background-color: #666;
	color: #A3A3A3;
}

.plugPlusContext {
	display: none;
	position: absolute;
}

#plugPlusUpdates article {
	border: 1px white solid;
	margin-top: 10px;
	width: 100%;
}

#plugPlusUpdates div {
	margin: 10px;
}

footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
}

#plugPlusSettingsForm {
	border-collapse: collapse;
}

#plugPlusSettingsForm {
	
}

#plugPlusSettingsForm tr td:nth-child(2) {
	width: 325px;
}

#plugPlusSettingsForm .spinner {
	position: static;
}

.PPSetting
:not
 
(
[
type
=
checkbox
]
 
){
width
:
 
100%;
}
#plugPlusList #refresh {
	width: 16px;
	height: 16px;
	display: inline-block;
}

#plugPlusListArea {
	text-align: center;
}

#plugPlusListArea div {
	background-color: #191975;
	display: inline-block;
	margin: 3px;
}

#plugPlusListArea .you {
	border: solid #ff6600 thin;
}

#plugPlusListArea .woot {
	background-color: green;
}

#plugPlusListArea .meh {
	background-color: red;
}

#plugPlusListArea .fan,#plugPlusListArea .friend {
	border: dashed yellow thin;
}

#plugPlusListArea .friend {
	border-style: solid;
}

#plugPlusListArea .mod {
	outline: solid #E90E82 thin;
}

#plugPlusContent #themeLeft {
	display: none;
}

#plugPlusContent.right #themeLeft {
	display: inline-block;
}

#plugPlusContent.right #themeRight {
	display: none;
}

.PPInline {
	max-height: 100px;
	transition: all .3s;
}

.PPInline:hover {
	max-width: 90%;
	max-height: 300px;
}

#PPLightBox {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 100;
}

#PPLightBox td {
	vertical-align: middle;
	text-align: center;
}
